# Súbory a priečinky z Playwright / Node.js
/node_modules
/playwright-report/
/test-results/
package-lock.json

# Lokálne systémové súbory
.DS_Store
.env

# Playwright
node_modules/
/blob-report/
/playwright/.cache/
/playwright/.auth/
